extends ../pug/templates/template.pug
block main 
    include ../components/popup-menu/popup-menu.pug
    - let image = pages[0].background
    - title = pages[0].title
    - let style =  `background-image: url('${image}')`
    section.screen(data-number=0, class="current" style= style)
        include ./screens/main.screen.pug
    - image = pages[1].background
    - title = pages[1].title
    - style =  `background-image: url('${image}')`
    section.screen(data-number=1, style= style)
        include ./screens/projects/projects.screen.pug
    - image = pages[2].background
    - title = pages[2].title
    - style =  `background-image: url('${image}')`
    section.screen(data-number=2, style= style)
        include ./screens/service/service.screen.pug
    - image = pages[3].background
    - title = pages[3].title
    - style =  `background-image: url('${image}')`
    section.screen(data-number=3, style= style)
        include ./screens/price/price.screen.pug
    - image = pages[4].background
    - title = pages[4].title
    - style =  `background-image: url'"${image}')`
    section.screen(data-number=4, style= style)
        include ./screens/about/about.screen.pug
    - image = pages[5].background
    - title = pages[5].title
    - style =  `background-image: url('${image}')`
    section.screen(data-number=5, style= style)
        include ./screens/reviews/reviews.screen.pug
    - image = pages[6].background
    - title = pages[6].title
    - style =  `background-image: url('${image}')`
    section.screen(data-number=6, style= style)
        include ./screens/contacts/contacts.screen.pug


