include ../../../components/panel/panel.pug

.projects 
    - 
        for (let index = 0; index < data.length; index++) {
            const e = data[index];
            data.splice(index, 1);
            const insertIndex = (Math.random() * (data.length - 1)) | 0;
            data = [...data.slice(0, insertIndex), e, ...data.slice(insertIndex)];
        }
    each i in data 
        - const topPadding = (Math.random()*40)|0
        - const leftMargin= (Math.random()*50)|0
        .projects__item(class= i.prioritet, style=`padding-top: ${topPadding}%; margin-left: ${leftMargin}%; --time-shift:${(Math.random()*1000)|0}ms; --time-duration:${(1000+Math.random()*2000)|0}ms`)
            .projects__name()= i.name
            .projects__panel
                +panel(i)